
<!-- Daniel Garson
    Due: 4/27/18
    CIS 237->

@model IEnumerable<cis237assignment6.Models.Beverage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!-- Make the filter that the user will see for beverages-->
<div class="form-group">

    <fieldset>
        <legend>Search Filter</legend>

        @{ 
            using (Html.BeginForm("Filter", "Beverages", FormMethod.Post, new { @class="form-inline" }))
            {
                @Html.AntiForgeryToken();

                <!--Description-->
                <label for="Description">Description</label>
                @Html.TextBox("Description", (string)ViewBag.filterMake)

                 <!--Minimum Price-->
                <label for="min">Minimum Price</label>
                @Html.TextBox("min", (string)ViewBag.filterMin)

                 <!--Maximum Price-->
                <label for="max">Maximum Price</label>
                @Html.TextBox("max", (string)ViewBag.filterMax)

                 <!--Pack-->
                <label for="pack">Pack</label>
                @Html.TextBox("pack", (string)ViewBag.filterPack)

               
                <br/>
                 <!--Filter Button-->
                <input type="submit"value="Filter" class="btn btn-info pull-right"/> 
            }
        }
    </fieldset>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
